.carousel{
  box-shadow:  1px 2px 5px 3px $vert;
  .carousel-inner{
    height : 17rem;

  }
 .carousel-control-prev{
    span{
       color :black;
       font-weight: bold;
      font-size: 1.3rem;
    }

 }
  .carousel-control-next{
    span{
      color : black;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

}

@media screen and (min-width: (600px)){
  .carousel{

    .carousel-inner{
      height : 21rem;
    }
    .carousel-control-prev{
      span{
        font-size: 1.5rem;
      }

    }
    .carousel-control-next{
      span{
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .carousel{
    height : 19.3rem;
    margin-top: 1rem;
    .carousel-inner{
      height : 19.3rem;
      img{
        width: 19.3rem;
        height: 19.3rem;
      }

    }
    .carousel-control-prev{
      height : 19.3rem;
      span{
        font-size: 1.3rem;
      }

    }
    .carousel-control-next{
      height : 19.3rem;
      span{
        font-size: 1.3rem;
      }
    }

  }

}
@media screen and (min-width: 960px) {

}