.diaporama{
  height:8rem;
  background-color: red;
  margin-left: 8px ;
  margin-right: 8px ;

}
@media screen and (min-width: (321px)){
  .diaporama{
    height: 12rem;
  }
}

@media screen and (min-width: 500px) {

}
@media screen and (min-width: 960px) {

}