
.blockChoixInscription{
    border: 1px solid $vert;

    h5{
      margin: 5rem auto;
      color: $vert;
      text-align: center;
    }
    span{
      color: $vert;
    }
    .blockMobile{
      align-items: center;
      margin-bottom: 4rem;

      .modal-item{
        width: 50%;
        margin: 2rem auto;
        background-color: $vert;
        border-radius: 1rem;
        height: 3rem;
        .modalBtnPrestataire{
          margin-top: 4rem;

          .modal-item:hover{
            color: darkgreen;
          }
        }
        .btn {
          color:white;
          font-size: 1.5rem;


        }
      }
    }

}

@media screen and (min-width: 500px) {
  .modal {
    border: 1px solid $vert;

    h5{
      color: $vert;
    }
    span{
      color: $vert;
    }
    .modal-body{
       align-items: center;
       margin-bottom: 2.5rem;
       .modal-item{
         width: 50%;
         margin: 2rem auto;
         background-color: $vert;
         border-radius: 1rem;
         height: 2rem;
          .modalBtnPrestataire{
            margin-top: 3rem;
          }
         .btn {
           color:white;
           font-size: 1.5rem;
         }
       }
    }
  }
}
@media screen and (min-width: 720px) {

}
@media screen and (min-width: 960px) {

}