
.search{
  margin-top: 1rem;
}
 .formulaire {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
   margin-left: 1rem;
   margin-bottom: 1rem;
   border: 2px solid $vert;
   padding:1rem;
   border-radius: 5px;

    .required{
      font-size: 12px;
    }
    .prestataire,.localite{
      margin-left: 3rem;

    }
   .commune,.categorie,.cp{

   }
   .form_control{
    height:12px;
     font-size: 12px;
   }
   .form-group{
      margin-bottom:10px;

   }
    .formItem {
      width: 40%;
    }
  }
    .submit{
        width: 10px;
      height:10px;
      margin-left: 20%;
    }
    .btn-primary{
      background-color: $vert;
      border : 1px solid $vert;
      margin-left: 10px;

    }
    .btn-primary:hover{
      background-color: darkgreen ;
      border : 1px solid darkgreen;
    }

@media screen and (min-width: 500px) {
.required{
  font-size: 1rem;
}

}
@media screen and (min-width: 720px) {
  .searchEtDiapo{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 10px;
    margin-right: 1%;
  }
  .required {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 960px) {

}