.logoutBigScreen{
  display:none;
}
.logoutMenuMobile{
   display: grid;
   grid-template-columns: 1fr 4fr;
   box-sizing: border-box;
   margin-bottom: 1rem;
   border-bottom: 1px solid $vert;

  .headerLogo {

    .logo {
      margin-left: 10px;
      width: 45%;
      margin-top: 10px;
    }
  }
  .menuLanguage{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 5px;

    .menuProfil{
      display: grid;
      grid-template-columns: 1fr 1fr  1fr 1fr;
      grid-gap: 5px;
      margin-top: 1.5rem;

      .iconItem{
        color :$vert;
        font-size : 150%;
        .iconMsg{
          font-size: 9px;
          color: $vert;
          text-align: -webkit-center;
          a{
            @include link;
            color: $vert;
          }
        }
      }
      .fa-solid:hover {
        color: darkgreen;
      }
    }
    .language{
      text-align: -webkit-center;
       .langFr, .langEng {
         @include link;
       }
       .langEng:hover {
         color: darkgreen;
       }
       .langFr:hover {
          color: darkgreen;
       }
    }
    .francais::after {
      content: " ";
      border-right: 2px solid #0D2816;
      margin-left: 5px;
      margin-right: 7px;
    }

    .btnDeconnexion{
      margin-top: 10px;
      margin-left: 1rem;
      margin-right: 10px;
      width: 30%;
    }
  }
}

.searchLocalisation{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 10px;
  margin-right: 10px;

  .formItem{
    margin: 0;
  }

  .localisation{
    background-color: red;
    margin-top:15px;
    margin-bottom: 15px;
  }
  .formulaire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

     input,select{
       width: 230%;
     }
    option{
      font-size: 10px;
    }
    button{
      background-color: $vert;
      margin-left: 2rem;
      color: white;
      button:hover{
        background-color: darkgreen;
      }
    }
    .required{
      display :block;
    }
    button:hover{
      background-color: darkgreen;
    }
  }
}
.profilDiapo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    color:$vert;
  margin-top: 2rem;

  .photoAdresse{
      border: 1px solid $vert;
      img{
        width: 120%;
        height:auto ;
        border: 1px solid $vert;
        border-radius: 10px;
       margin-left: 5px;
        margin-top: 5px;
      }
      .photoMsg{
        display:grid;
        grid-template-columns: 1fr 2.5fr;
        grid-gap: 1rem;
        margin-bottom: 1rem;
      }
      .infoItem{
        margin-bottom: 5px;
        margin-left: 5px;
      }
  }
  .reseauDiapo{
    .reseau{
      text-align: center;
      .fa-brands{
        font-size: 1.5rem;
        margin-right: 1.5rem;
      }
        .fa-brands:hover{
            color: darkgreen;
        }
    }
    .diaporama{
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.allBlock{
  .prestataireAction{
    margin-top: 2rem;
  }

  .prestataireItem{
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 10px;

      .item{
          text-align: -webkit-center;
          background-color: $vert;
          margin: 5px 3rem ;
          border-radius: 10px;
          width:17rem ;
          a{
            color:white;
          }

          .block{
           border: 1px solid $vert;
            .link{
              color: $vert;
            }
            .link:hover{
              background: $vert;
              color: white;
            }
          }
      }
    .btn{

      a{
        color: $vert;
        font-size: 1rem;
      }
      span{
        color: $vert;
      }
    }
    .item:hover{
      background-color: darkgreen;
    }

  }

}


@media screen and (min-width: 500px) {
  .logoutMenuMobile{
    display:none;
  }
  .logoutBigScreen{
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-bottom: 1px solid $vert;

    .headerLogo {

      .logo {
        margin-left: 12px;
        width: 52%;
        margin-top: 10px;
      }
    }
    .menuLanguage{
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 5px;

      .menuProfil{
        display: grid;
        grid-template-columns: 1fr 1fr  1fr 1fr;
        grid-gap: 5px;
        margin-top: 12px;

        .iconItem{
          color :$vert;
          font-size : 200%;
          .iconMsg{
            font-size: 12px;
            color: $vert;
            text-align: -webkit-center;
            a{
              @include link;
              color: $vert;
            }
          }
        }
        .iconItem:hover{
          color: darkgreen;
        }
      }
      .language{
        text-align: -webkit-center;
        margin-top: 10px;
        .langFr, .langEng {
          @include link;
          font-size: 1rem;
        }
        .langEng:hover {
          color: darkgreen;
        }
        .langFr:hover {
          color: darkgreen;
        }
      }
      .francais::after {
        content: " ";
        border-right: 2px solid #0D2816;
        margin-left: 5px;
        margin-right: 7px;
      }

      .btnDeconnexion{
      margin-top: .7rem;
        margin-left: 1.5rem;
        margin-right: 10px;
        width: 30%;
         .deconnexion{
           @include link;
           color: white;
           background-color: $vert;
         }
         .deconnexion:hover{
           background-color: darkgreen;
         }
      }
    }
  }

  .searchLocalisation{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 10px;
    margin-right: 10px;

    .formItem{
      margin: 0;
    }

    .localisation{
      background-color: red;
      margin-top:15px;
      margin-bottom: 15px;
    }
    .formulaire{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;

      input,select{
        width: 230%;
      }
      option{
        font-size: 10px;
      }
      button{
        background-color: $vert;
        margin-left: 2rem;
        color: white;

      }
      .required{
        display :block;
      }

    }
  }

  .profilDiapo{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-left: 10px;
    color:$vert;
    margin-top: 2rem;

    .photoAdresse{
      border: 1px solid $vert;
      img{
        width: 120%;
        height:auto ;
        border: 1px solid $vert;
        border-radius: 10px;
        margin-left: 5px;
        margin-top: 5px;
      }
      .photoMsg{
        display:grid;
        grid-template-columns: 1fr 2.5fr;
        grid-gap: 1rem;
        margin-bottom: 1rem;
      }
      .infoItem{
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }

    .reseauDiapo{

      .reseau{
        text-align: center;
        .fa-brands{
          font-size:2rem;
          margin-right: 2rem;
        }
        .fa-brands:hover{
          color: darkgreen;
        }
      }
      .diaporama{
        margin-left: 0;
        margin-right: 10px;

      }
    }
  }

  .allBlock{
    padding-left: 3rem;
    padding-right: 3rem;

    .prestataireAction{
      margin-top: 2rem;

      .prestataireItem {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 10px;

        .item {
          text-align: -webkit-center;
          background-color: $vert;
          margin: 5px 3rem;
          border-radius: 10px;
          width: 17rem  ;

          a {
            color: white;
            font-size: 1.2rem;
          }

        }

        .btn {
          margin-right: 4rem;
          width: 5rem;
          text-align: center;
          a {
            color: $vert;
            font-size: 1.2rem;
          }

          span {
            color: $vert;
          }
        }
        .item:hover{
          background-color: darkgreen;
        }
        .btn-primary:hover{
          background-color: darkgreen;
        }
      }

    }
    .commentCate{
      a{
        font-size: 1.2rem;
        padding: 10px;
      }
    }
  }

}
@media screen and (min-width: 720px) {

  .logoutBigScreen{
    .headerLogo {
      .logo {
        width: 40%;
        margin-left: 6px;
        align-self: center;
        margin-top: 10px;
      }
    }
    .menuLanguage{
      .menuProfil{
        .iconItem{
          font-size : 220%;
          .iconMsg{
            font-size: 1.2rem;
          }
        }
      }
      .language{
        .langFr, .langEng {
          font-size: 1.2rem;
        }
      }

      .btnDeconnexion{
        margin-top: 2.5rem;
        margin-left: 3rem;
        width: 40%;
        .deconnexion{
          font-size: 1.2rem;
        }
      }
    }
  }

  .searchLocalisation{

    .formItem{
      margin: 0;
      .required{
       font-size: 1rem;
      }
      .form-control{
        font-size: 1rem;
      }
    }
    .submit{
      margin-left: 3rem;
      margin-right: 10px;
      margin-bottom: 1rem;
      width: 30%;
      .btn{
        font-size: 1.2rem;
      }
    }


    .localisation{
      background-color: red;
      margin-top:15px;
      margin-bottom: 15px;
    }
    .formulaire{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;

      input,select{
        width: 230%;
      }
      option{
        font-size: 10px;
      }
      button{
        background-color: $vert;
        margin-left: 2rem;
        color: white;
        .btn-primary:hover{
          background-color: darkgreen;
        }
      }
      .required{
        display :block;
      }

    }
  }

  .profilDiapo{

    .photoAdresse{
       .adresse{
         span{
           font-size: 18px;
         }
       }
      .infoItem{
        margin-bottom: 8px;
        margin-left: 7px;
        font-size: 18px;
      }
    }

    .reseauDiapo{

      .reseau{
        text-align: center;
        .fa-brands{
          font-size:2rem;
          margin-right: 2rem;
        }

      }
      .diaporama{
        margin-left: 0;
        margin-right: 10px;

      }
    }
  }
  .allBlock{
    margin-right: 5rem;
    margin-left: 5rem;
    .commentCate{
      .item{
        width: 20rem;
        a {
          color: white;
          font-size: 1.3rem;
        }
      }

    }
    .prestataireAction{
      margin-top: 2rem;

      .prestataireItem {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;

        .item {
          width: 20rem  ;

          a {
            color: white;
            font-size: 1.3rem;
          }

        }

        .btn {
          margin-right: 7rem;
          width: 5rem;
          text-align: center;
          a {
            color: $vert;
            font-size: 1.3rem;
          }

          span {
            color: $vert;
          }
        }
        .item:hover{
          background-color: darkgreen;
        }
        .btn-primary:hover{
          background-color: darkgreen;
        }
      }

    }
    .commentCate{
      a{
        font-size: 1.2rem;
        padding: 10px;
      }
    }
  }
}
@media screen and (min-width: 960px){
  .logoutBigScreen{

    .menuLanguage{

      .btnDeconnexion{

        margin-left: 4rem;
        width: 40%;
        padding: 1rem;

      }
    }
  }

  .searchLocalisation{

    .formItem{
      margin: 0;
      .required{
        font-size: 1.2rem;
      }
      .form-control{
        font-size: 1.2rem;
      }
    }
    .submit{
      margin-left: 6rem;
      width: 30%;
      padding: 1.2rem;
      .btn{
        font-size: 1.2rem;
      }
     .btn-primary:hover{
        background-color: darkgreen;
      }
    }


    .localisation{
      background-color: red;
      margin-top:15px;
      margin-bottom: 15px;
    }
    .formulaire{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;

      input,select{
        width: 230%;
      }
      option{
        font-size: 10px;
      }
      button{
        background-color: $vert;
        margin-left: 2rem;
        color: white;
      }
      .required{
        display :block;
      }

    }
  }

  .profilDiapo{

    .reseauDiapo{

      .reseau{
        text-align: center;
        .fa-brands{
          font-size:2rem;
          margin-right: 2rem;
        }

      }
      .diaporama{
        margin-left: 0;
        margin-right: 10px;
        height : 15rem;
        background-color: red;
      }
    }
  }
  .allBlock{
    display: grid;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 2fr 1fr;
    .commentCate{
        margin-top: 2rem;
      .item{
        width: 20rem;
        a {
          color: white;
          font-size: 1.3rem;
        }
      }

    }
    .prestataireAction{
      margin-top: 2rem;

      .prestataireItem {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;

        .item {
          width: 20rem  ;

          a {
            color: white;
            font-size: 1.3rem;
          }

        }

        .btn {
          margin-right: 7rem;
          width: 5rem;
          text-align: center;
          a {
            color: $vert;
            font-size: 1.3rem;
          }

          span {
            color: $vert;
          }
        }
        .item:hover{
          background-color: darkgreen;
        }
        .btn-primary:hover{
          background-color: darkgreen;
        }
      }

    }
    .commentCate{
      a{
        font-size: 1.2rem;
        padding: 10px;
      }
    }
  }


}