{% extends 'base.html.twig' %}

{% block title %}Profil prestataire{% endblock %}
{% block body %}
    <div class="searchLocalisation">
        <div class="search">

        </div>

    </div>

    {% block listePrestataire %}
        {{ parent() }}
    {% endblock %}
{% endblock %}