{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Profil prestataire{% endblock %}
{% block body %}
    <div class="searchLocalisation">
        <div class="localisation">

        </div>
        <div class="search">
            {{ block("search", "home/index.html.twig") }}
        </div>
    </div>
    <div class="profilDiapo">
        <div class="photoAdresse">
            <div class="photoMsg">
                <div class="photoProfil">
                    <img class="logo" src="{{ asset('images_directory/logoleonl-63d66cde1d0d8.jpg')  }}" title="photoprofil" alt="photopprofil">
                </div>
                <div class="adresse">
                    <span class="d-block text-center"><strong><u>Adresse :</u></strong></span>
                    <p class="text-center">
                        Quai du condroz 1
                    </p>
                </div>
            </div>
            <div class="profilData">
                <span class="d-block infoItem"><strong>Nom :</strong></span>
                <span class="d-block infoItem"><strong>Site :</strong></span>
                <span class="d-block infoItem"><strong>Email :</strong></span>
                <span class="d-block infoItem"><strong>Tel :</strong></span>
                <span class="d-block infoItem"><strong>TVA :</strong></span>

            </div>

        </div>
        <div class="reseauDiapo">
            <div class="reseau">
                <span class="d-inline-block fa-brands fa-facebook reseauItem"></span>
                <span class="d-inline-block fa-brands fa-square-instagram  reseauItem"></span>
                <span class="d-inline-block fa-brands fa-tiktok reseauItem"></span>
                <span class="d-inline-block fa-brands fa-twitter  reseauItem"></span>
            </div>
            {{ block("diaporama", "home/index.html.twig") }}

        </div>
    </div>
     <div class="prestataireAction">
            <div class="prestataireItem ">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voir les categories de service
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
                <div class="btn">
                    <a href="#" class="d-block fa-solid fa-square-plus"></a>
                    <span class="d-block"><a href="#">Categorie</a></span>
                </div>
            </div>
            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voir les stages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
                <div class="btn">
                    <a href="#" class="d-block fa-solid fa-square-plus"></a>
                    <span class="d-block"><a href="#">Stage</a></span>
                </div>
            </div>
            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voir les promotions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>

                </div>
                <div class="btn">
                    <a href="#" class="d-block fa-solid fa-square-plus"></a>
                    <span class="d-block"><a href="#">Promotion</a></span>
                </div>
            </div>
            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Commentaires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
            </div>
            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>

                </div>
            </div>
    </div>


    {% block listePrestataire %}
        {{ parent() }}
    {% endblock %}
{% endblock %}