.blockPrestataire{
  margin: 8px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem  ;

   .prestataireItem{

     .logoPrestataire{
       height: 8rem;
       width: 100%;
       text-align: center;
      box-shadow:  1px 2px 5px 3px $vert;


     }
     .nomPrestataire{
       @include link;
       font-size: 1rem;
       text-align: center;
       font-weight: bold;
       margin-top: 1rem;
     }
   }
}
.categorieItem{
  margin: 1rem 2rem;
  .logoPrestataire{
    height: auto;
    width: 100%;
    box-shadow:  1px 2px 5px 3px $vert;
    text-align: center;
  }
  .nomPrestataire{
    @include link;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }

}
@media screen and (min-width: 400px) {
  .prestataireItem{

    .logoPrestataire{
      height: 10rem;

    }
    .nomPrestataire{
      @include link;
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
    }
  }
}
@media screen and (min-width: 600px) {
  .prestataireItem{

    .logoPrestataire{
      height: 12rem;
    }
    .nomPrestataire{
      @include link;
      font-size: 1.5rem;
    }

  }
}
@media screen and (min-width: 700px) {

  .blockBody{
   margin: 1.5rem ;
    .blockPrestataire{
      grid-gap: 1.5rem;
      .prestataireItem{
        .logoPrestataire{
          height: 13rem;
        }
        .nomPrestataire{
          font-size: 1.7rem;
        }

      }
    }
    .categorieItem {
      margin: 2rem 3rem;

      .nomPrestataire {
        @include link;
        font-size: 2rem;
        margin-top: 1.5rem;
      }
    }
}

}

@media screen and (min-width: 940px) {
  .blockBody {
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-gap: 1.5rem;
    .prestataireItem {

      .logoPrestataire{
        height: 15rem;

      }
      .nomPrestataire {
        @include link;
        font-size: 1.4rem;

      }
    }
    .categorieItem {
      margin: 0;
      margin-top: 1rem;


      .logoPrestataire {
        height: 60%;

      }


    }
   }
}