.blockPrestataire{
  margin: 8px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem  ;

   .prestataireItem{

     .logoPrestataire{
       height: 8rem;
       width: 100%;
       text-align: center;
      box-shadow:  1px 2px 5px 3px $vert;


     }
     .nomPrestataire{
       @include link;
       font-size: 1rem;
       text-align: center;
       font-weight: bold;
       margin-top: 1rem;
     }
   }
}
.categorieItem{
  border: 1px solid green;
  height: 6rem;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 4px;

  .logoPrestataire{
    width: 1.5rem;
    height: 3rem;
    text-align: center;
  }
  .nomPrestataire{
    @include link;
    font-size: 8px;
    text-align: center;
  }

}
@media screen and (min-width: 400px) {
  .prestataireItem{

    .logoPrestataire{
      height: 10rem;

    }
    .nomPrestataire{
      @include link;
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
    }
  }
}
@media screen and (min-width: 600px) {
  .prestataireItem{

    .logoPrestataire{
      height: 12rem;
    }
    .nomPrestataire{
      @include link;
      font-size: 1.5rem;
    }

  }
}
@media screen and (min-width: 700px) {

  .blockBody{
   margin: 1.5rem ;
    .blockPrestataire{
      grid-gap: 1.5rem;
      .prestataireItem{
        .logoPrestataire{
          height: 13rem;

        }

      }
    }
    .categorieItem{
      margin-top: 14px;
      margin-left: 4px;
      margin-right: 12.5px;
      width: 40%;
      height: 14.5rem;
    }
}

}
@media screen and (min-width: 700px) {

    .blockBody {

        .prestataireItem {

          .nomPrestataire {
            font-size: 1.3rem;
          }
        }
    }
  }
@media screen and (min-width: 940px) {
  .blockBody {
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-gap: 1.5rem;
    .prestataireItem {

      .logoPrestataire{
        height: 15rem;

      }
      .nomPrestataire {
        @include link;
        font-size: 1.4rem;

      }
    }
   }
}