.footer {
  background-color: #0D2816;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5.4rem;

  .footerMenu {
    display: flex;
    justify-content: space-around;
    color: white;
  }

  .spanFooter {
    display: inline-block;
    font-size: 100%;
  }

  .footerItem {
    text-decoration: none;
    color: white;

  }

  .imgFooter {
    margin: 0 auto;
  }

  .siteName {
    display: inline-block;
    font-family: "Savoye LET";
    color: white;
    font-size: 180%;
    padding-top: 5px;
  }

  .footerSiteBlock {
    margin: 0 auto;
    text-align: center;
    margin-top: 6px;
  }

  .footerItem:hover {
    color: white;
  }

  .siteName:hover {
    color: whitesmoke;
  }

}

@media screen and (min-width: 321px) {
  .footer {

    .spanFooter {
      font-size: 110%;
    }

    .siteName {
      font-size: 210%;
    }

  }

}
@media screen and (min-width: 500px) {
  .footer {
    height: 7rem;

    .spanFooter {
      font-size: 1.2rem;
    }

    .siteName {
      font-size: 2.5rem;
    }

    .footerSiteBlock {
      margin-top: 0;
    }
  }

}
@media screen and (min-width: 960px){

}