.footer {
  background-color: #0D2816;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;

  .footerMenu {
    display: flex;
    justify-content: space-around;
    color: white;
  }

  .spanFooter {
    display: inline-block;
    font-size: 10px;
  }

  .footerItem {
    text-decoration: none;
    color: white;

  }

  .imgFooter {
    margin: 0 auto;
  }

  .siteName {
    font-family: "Savoye LET";
    color: white;
    font-size: 1.4rem;
  }

  .footerSiteBlock {
    margin: 0 auto;
    text-align: center;
    margin-top: 6px;
  }

  .footerItem:hover {
    color: white;
  }

  .siteName:hover {
    color: whitesmoke;
  }

}

@media screen and (min-width: 321px) {
  .footer {
    height: 6rem;

    .spanFooter {
      font-size: 1rem;
    }

    .imgFooter {
      margin: 0 auto;
    }

    .siteName {
      font-size: 1.7rem;
    }

    .footerSiteBlock {
      margin-top: 8px;
    }
  }

}
@media screen and (min-width: 720px) {

}
@media screen and (min-width: 960px){

}