/* style concernant  concernant le header  debut 1*/
.bigScreen{
  display: none;
}
.mobileScreen {

  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  margin:0 auto;
  background: white;
  box-shadow: 0px 4px 4px $vert;


  .logo {
    margin-left: 10px;
    width: 45%;
    margin-top: 10px;
  }

  .langFr, .langEng {
    color: #0D2816;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
  }

  .francais {
    display: inline-block;
  }

  .anglais {
    display: inline-block;
    margin-left: 3px;
  }

  .lemobile {

  }

  .headerLogo {
    .burger {
      margin-top:40%;
      margin-left:30%;
     width:55%;
      height: auto;
    }

    .menuMobile {
      display: none;
    }

  }

  .connectivité {

  }

  .langEng:hover {
    color: #0D2816;
  }
  .language{
    width: 4rem;
    margin-top: 0;
    margin-right: 1rem;
  }
  .langFr:hover {
    color: #0D2816;
  }

  .francais::after {
    content: " ";
    border-right: 2px solid #0D2816;
    margin-left: 10px;
  }

  .headerLogo:hover {
    .menuMobile {
      display: block;
      position: fixed;
      margin-right: 3rem;
      width: 17rem;
      height: 13rem;
      top: 9%;
      left:60%;
      border-left: 2px solid #0D2816;
      border-top: 2px solid #0D2816;
      border-bottom: 2px solid #0D2816;
      padding: 1rem 0;
      z-index: 100;
      background-color: white;

      .listItem {
        font-size: 12px;
        text-align: left;
        padding-left: 8px;
      }

      .btnItem {
        background-color: #0D2816;
        color: #dfdfdf;
        font-size: 12px;
        border-radius: 25px;
        margin-left: 13px;
        padding: 2px;
        width: 40%;
        align-self: center;

      }

      .btnConnexion {
        margin-top: 1rem;
        font-size: 10px;
      }

      .btnInscription {
        margin-top: 10px;
        font-size: 10px;
      }

      .listItem:hover {
        background-color: #0D2816;
        color: white;
      }

      .btnItem:hover {
        background-color: darkgreen;
        color: white;

      }
    }
  }

  /* style concernant  concernant le header  fin 1*/
}
@media screen and (min-width: 321px){
  .mobileScreen {
    height: 6.5rem;

    .logo {
      margin-left: 12px;
      width: 52%;
      margin-top: 10px;
    }

    .langFr, .langEng {
      font-size: 1rem;
    }

    .headerLogo {
      .burger {
        margin-left:20%;
        width:65%;
      }

    }
    .language{
      margin-top: 7px;
    }
    .headerLogo:hover {
      .menuMobile {
        top: 10%;
        left:65%;
        height:14rem ;

        .listItem {
          font-size: 12px;
          padding-left: 10px;
        }

        .btnItem {
          font-size: 12px;
          border-radius: 25px;
          width: 40%;
          align-self: center;
          padding: 3px;
        }

      }
    }

    /* style concernant  concernant le header  fin 1*/
  }
}
@media screen and (min-width: 500px) {
  .mobileScreen{
    display: none;
  }
  .bigScreen {
    display: flex;
    margin:0 auto;
    background: white;
    height: 9rem;
    box-shadow: 0px 4px 4px $vert;

    .logo {
       width: 80%;
      margin-left: 6px;
      align-self: center;
      margin-top: 10px;
    }

    .menu{
      width:100%;

      .language {

        margin-top: 10px;
        text-align: right;
        margin-right: 1rem;
        color: #0D2816;

        .langFr, .langEng {
          color: #0D2816;
          text-decoration: none;
          font-size:100%;
          display: inline-block;
        }

        .francais {
          display: inline-block;
        }

        .anglais {
          display: inline-block;
          margin-left: 3px;
        }
        .langEng:hover {
          color: darkgreen;
        }
        .langFr:hover {
          color: darkgreen;
        }

        .francais::after {
          content: " ";
          border-right: 2px solid #0D2816;
          margin-left: 10px;
        }

      }
      .menuEtBtn{
        display: flex;
        justify-content: space-between;
         align-items: center;
        width: 100%;
        a{
          @include link;
        }
        li {
          display: inline-block;
          margin-right: 1rem;
          font-size: 13px;
          a:hover{
            color: darkgreen;
          }
        }
        .navElt{

        }
        .nav-item{
          list-style-type: none;
          .nav-item:hover {
            background-color: #0D2816;
            color: white;
          }
        }

       .btnElt{
           align-items:center ;
           margin-right: 10px;

           .btnConnexion {
             margin-top: 1rem;
           }
           .btnInscription {
              margin-top: 10px;
           }

           .btnItem{
             background: $vert;
             color:white;
             border-radius: 12px;
           }
           .btnItem:hover{
             background-color: darkgreen;
             color: white;
           }
       }

      }

    }


  }
}
@media screen and (min-width: 560px){
  .bigScreen {
    .menuEtBtn {
        .navElt{
          width: 100%;

            li {

              font-size: 1.1rem;
            }
        }
    }
  }
}
  @media screen and (min-width: 700px){
    .bigScreen {


      .menuEtBtn {
        .navElt{
          li {

            font-size: 1.2rem;
          }
        }
      }
    }

    .btnElt{
      align-items:center ;
      margin-right: 10px;

      .btnConnexion {
        margin-top: 1rem;
      }
      .btnInscription {
        margin-top: 10px;
      }

      .btnItem{
        background: $vert;
        color:white;
        border-radius: 12px;
      }
      .btnItem:hover{
        background-color: darkgreen;
        color: white;
      }
    }

}
@media screen and (min-width: 800px) {
  .menuEtBtn {
      align-items: center;
    li{

    }
    .navbar{
      width: 90%;
    }
    .btnElt{
      display: flex;

      .btnConnexion {
        margin-right: 1rem;
        margin-top: 0;

        a{
          font-size: 1.2rem;
          padding: 5px 9px;
          text-align: center;
        }

      }
      .btnInscription {
        margin-right: 1rem;
        margin-top: 0;
        padding-top: 3px;
        a{
          font-size: 1.2rem;
          padding: 5px 9px;
          text-align: center;
        }


      }
    }
  }

}
@media screen and (min-width: 900px) {

  .headerLogo{
    margin-left: 1.5rem;
  }
  .menuEtBtn {
      .navElt{

        align-items: center;
        ul{
          width:  30rem;
        }
      }
    .btnElt {
      margin-bottom: 1.5rem;
      .btnConnexion {
        margin-right: 2rem;

      }
      .btnInscription {
        padding-top: 3px;
      }
    }
  }
}